:root {
    --color-primary: #d65106;
    --outline-primary: #d65106;
}

.signup-form{
    width: 40%;
}

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.employee-record-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}
.error{
    color: #333;
}

.dataTables_wrapper .dataTables_processing {
    position: fixed;
    top: 75%;
}

.single-food-selection {
    padding: 10px;
    -webkit-box-shadow: 0 0 1px #ccc;
    box-shadow: 0 0 1px #ccc;
}

.single-food-selection:hover {
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.single-food-selection a{
    color: var(--color-primary);
    margin: 5px 5px 0px 0px;
}
.single-food-selection .details{
    padding: 10px;
}
.food-selection-img{
    width: 300px;
}

