
/** ADD YOUR AWESOME CODES HERE **/

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
